body {
    background-image: url(img/img.jpg);
}
.centertext {
    font-family: "Sixtyfour Convergence", sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 20px;
}

.contex {
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    margin: 0;
    padding: 20px;
    color: green;
    text-align: center;
}

.class{
    border: 0;
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    padding: 18 30px;
    color: green;
    align-items: center;
    font-weight: 400;
    border-radius: 3px;

}

.con{
    font-family: "Nunito", sans-serif;
    font-size: 30px;
    padding: 30px;
    color: green;
    text-align: center;
}


  .arrow{
    font-family: "Nunito", sans-serif;
    font-size: 20px;
    padding: 20px;
    color: green;
    text-align: center;
  }

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
footer{
    background-color: #111;
}
.footerContainer{
    width: 100%;
    padding: 70px 30px 20px ;
}
.socialIcons{
    display: flex;
    padding: 10px;
    text-align: left;
    position: absolute;
    bottom: 0;
    width: 100%;
}
.socialIcons a{
    text-decoration: none;
    padding:  10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}
.socialIcons a i{
    font-size: 2em;
    color: black;
    opacity: 0,9;
}

.socialIcons a:hover{
    background-color: #111;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}
.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.footerNav ul li a{
    color:white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;

}
.footerNav ul li a:hover{
    opacity: 1;
}
.footerBottom{
    color: #000;
    background-color: #000;
    padding: 25px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    } 
    .footerNav ul li{
        width:100%;
        text-align: center;
        margin: 10px;
    }
    .socialIcons a{
        padding: 8px;
        margin: 4px;
    }
}

.media {
    font-family: "Nunito", sans-serif;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    font-size: 14px;
    align-self: end;
    
}

nav {
    background: #1a1a1a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1a1a1a;
    padding: 10px 10%;
    position: relative;
}


.menu-left {
    font-family: "Nunito", sans-serif;
    color: white;
    font-size: 24px;
}


.menu-right {
    font-family: "Nunito", sans-serif;
    display: flex;
    align-items: center;
}


.menu-right a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
}


.menu-right .profile-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #555;
    color: white;
    font-size: 18px;
    text-align: center;
    margin-left: 20px;
}


.menu-right a:hover {
    color: #f0f0f0;
}

.sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #333;
    padding-top: 20px;
}

.sidebar a {
    display: block;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    font-size: 16px;
}

.sidebar a:hover {
    background-color: #575757;
}

.dropdown {
    display: none;
    background-color: #444;
}

.menu-item:hover .dropdown {
    display: block;
}



menu-container {
    position: relative;
}

.hamburger {
    display: flex;
    flex-direction: column;
    width: 30px;
    cursor: pointer;
    margin: 1px;
}

.bar {
    width: 100%;
    height: 4px;
    background-color: white;
    margin: 5px 0;
}

.menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

.menu ul li {
    margin: 10px 0;
}

.menu ul li a {
    text-decoration: none;
    color: black;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 300px; 
    padding: 20px;
}

.hero{
    font-family: "Nunito", sans-serif;
    width: 100%;
    color: #525252;
    text-align: center;
}

.logo{
    font-family: "Nunito", sans-serif;
    width: 120px;
    align-items: center;
}

.user-pic{
    font-family: "Nunito", sans-serif;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 30%;
}

.sub-menu-wrap{
    font-family: "Nunito", sans-serif;
    position: absolute;
    top: 100%;
    right: 10%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu{
    font-family: "Nunito", sans-serif;
    max-height: 400px;
}

.sub-menu{
    font-family: "Nunito", sans-serif;
    background: #fff;
    padding: 20px;
    margin: 10px;
}

.user-info{
    font-family: "Nunito", sans-serif;
    display: flex;
    align-items: center;
}

.user-info h3{
    font-family: "Nunito", sans-serif;
    font-weight: 500;
}

.user-info img{
    font-family: "Nunito", sans-serif;
    width: 60px;
    border-radius: 50%;
    margin-right: 15px;
}

.sub-menu hr{
    font-family: "Nunito", sans-serif;
    border: 0;
    height: 1px;
    width: 100%;
    background: #ccc;
    margin: 15px 0 10px;
}

.sub-menu-link{
    font-family: "Nunito", sans-serif;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p{
    font-family: "Nunito", sans-serif;
    width: 100%;
}

.sub-menu-link img{
    font-family: "Nunito", sans-serif;
    width: 40px;
    background: #e5e5e5;
    border-radius: 50%;
    padding: 8px;
    margin-right: 15px;
}

.sub-menu-link span{
    font-family: "Nunito", sans-serif;
    font-size: 22px;
    transition: transform 0.5s;
}

.sub-menu-link:hover span{
    font-family: "Nunito", sans-serif;
    transform: translateX(5px);
}

.sub-menu-link:hover p{
    font-family: "Nunito", sans-serif;
    font-weight: 600;
}


.support-form {
    font-family: "Nunito", sans-serif;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.support-form h2 {
    font-family: "Nunito", sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.support-form label {
    font-family: "Nunito", sans-serif;
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
}

.support-form input, 
.support-form textarea {
    font-family: "Nunito", sans-serif;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.support-form button {
    font-family: "Nunito", sans-serif;
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
}

.support-form button:hover {
    font-family: "Nunito", sans-serif;
    background-color: green;
}

.Support{
    font-family: "Nunito", sans-serif;
    font-size: 50px;
    text-align: center;
    color: green;
}

.g-recaptcha{
    font-family: "Nunito", sans-serif;
    align-items: center;
}

#captcha{
    font-family: "Nunito", sans-serif;
    align-items: center;
}

.footer{
    text-align: left;
}

.container {
    text-align: center;
  }
  